*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 12px;
    background: white;
}
.clear:after{
    content: '';
    display: block;
    clear: both;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/*公共样式，头部*/
.publicHeader{
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    background-color: #0b77ae;
    background-image: linear-gradient(90deg, #0b77ae 0%, #459abb 100%);
    border-bottom-style: outset;
    border-color: #dec5ab;


}
.publicHeader h1{
    float: left;
    color: #fff;
    font-size: 22px;
    padding-left:80px;
    text-shadow: 2px 1px #000;
    background: url("/img/home.png") 30px center no-repeat;

}
.publicHeaderR{
    float: right;
    color: #fff;
    margin-right: 50px;

}
.publicHeaderR p{
    display: inline-block;
    font-weight: bold;
}
.publicHeaderR a{
    width: 50px;
    height: 28px;
    display: inline-block;
    border: 1px solid #0b77ae;
    background-color:  #0b77ae;
    line-height: 28px;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;

}
.publicHeaderR a:hover,.publicHeaderR a:active{
    border: 1px solid #192b02;
    border-radius: 4px;
    font-weight: bold;
    background: linear-gradient(to bottom,#70b21c,#5c9613,#47740e,#3b6209,#2b4906);
}
/*公共样式，头部结束*/


/*时间*/
.publicTime{
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    background-color: whitesmoke;
    padding-left: 20px;
    color: black;
}
#time{
    float: left;
    background: url("/img/clock.png") 0 center no-repeat;
    padding-left: 26px;
}
.publicTime a{
    float: right;
    margin-right: 50px;
    color: #626367;
}
/*时间结束*/


/*公共部分主体内容*/
.publicMian{
    border-top: 1px solid #c2ccd5;
    display: flex;  /*变为弹性盒模型*/
    display: -webkit-flex;
    background: #fff;
}
/*左边*/
.left{
    /*width: 168px;*/
    width: 15%;
    /*background: url("../images/leftBg1.png") 0 0 repeat-y;*/
    background-color: #0b77ae;
    /*background-image: linear-gradient(90deg, #0b77ae 0%, #459abb 100%);*/
    /*height: 520px;*/
    min-height: 520px;
    /*float: left;*/
}
.leftH2{
    width: 140px;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #60b3e7;
    margin: 10px  auto;
    box-shadow:4px 4px rgba(212,212,212,0.7);
}
.leftH2 span{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #3d677f;
    background-image: linear-gradient(180deg, #3d677f 20%, #454885 100%);


    border-radius: 50%;
}
.span1{
    margin-right: 10px;
}
.span2{
    margin-left: 12px;
}
/*公共部分主体内容结束*/

/*左侧菜单列表*/
#leftTree{
    width: 100%;
}
.nav{
    font-size: 15px;
    width:100%;
}
.nav>li>a{
    display: block;
    height:40px;
    line-height: 40px;
    text-indent: 55px;
    color:white;
    /*border-bottom:1px solid red;*/
    background: #0b77b0 url(/img/tu1.png) no-repeat 20px 8px;

}
.nav>li ul{
    display: none;
    border-bottom: lightgrey ;
    margin: 5px;
}
.nav>li ul li{
    line-height: 27px;
    text-indent: 38px;
    border-bottom: lightgrey ;
}
.nav>li ul li a{
    color:white;
    display:block;
    /*border-bottom:1px solid red;*/
    background-color: #4f8ace;
}
/*.nav>li:hover ul{
    display:block;
}*/
.nav li a:hover{
    background-color: #2a5989;
}
.nav li ul li a:hover{
    background-color: #2a5989;
}

img{
    position: relative;
    left:60px;
    vertical-align: middle;
}

/*右边*/
.right{
    width: 85%;
    /*float: left;*/
    /*background-color: #fff21b;*/
}
/*右边结束*/

/*底部*/
.footer{
    width: 100%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #0b77ae;
    background-image: linear-gradient(90deg, #0b77ae 0%, #459abb 100%);
    /*float: left;*/
}
/*底部结束*/