ul {
    border-top: 5px solid #376e93;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px 20px;
    height: 250px;
}

.noticeBox {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.notice {
    margin: 10px;
}
a{
    text-decoration:none;
    color: black;
}
a:link {
    color: black;
}

.footer {
    box-sizing: border-box;
    margin-top: 40px;
    height: 100%;
    width: 100%;
}

.box {
    text-align: center;
    float: left;
    width: 50%; /* 三个框（四框使用 25%，两框使用 50%，以此类推） */
    height: 50%;
}

.box input {
    border-radius: 50%;
}

.popupWindow{
    vertical-align: middle;
}

*{
    padding: 0;
    margin: 0;
}

#seven {
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

#seven table {
    border: 0;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    width: 100%;
}

#seven th, td {
    border: 0;
    padding: 15px;
    text-align: center;
}

#seven tr:nth-child(even){background-color: #f2f2f2;}

/*在 <tr> 元素上使用 :hover 选择器，以突出显示鼠标悬停时的表格行*/
#seven tr:hover {background-color: #ddd;}

#seven tr{
    background-color: #ddd;
    text-align: center;
}
