*{
    padding: 0;
    margin: 0;
}

#view {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#view table, th, td {
    border: 1px solid black;
}

/*控制边框和表格内容之间的间距，内容居中*/
#view th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/*为了实现斑马纹表格效果，请使用 nth-child() 选择器，并为所有偶数（或奇数）表行添加 background-color*/
#view tr:nth-child(even){background-color: #f2f2f2;}

/*在 <tr> 元素上使用 :hover 选择器，以突出显示鼠标悬停时的表格行*/
#view tr:hover {background-color: #ddd;}

#view tr{
    background-color: #ddd;
    text-align: center;
}
/*指定了 <th> 元素的背景颜色和文本颜色*/
#view th {
    background-color: #3a8dc1;
    color: white;
}
/*按钮位置*/
#but-box{
    position:absolute; top:475px;left: 38%;   /*绝对位置*/
}

input{
    background-color: #60b3e7;   /* 背景色 */
    border: none;
    color: white;   /*按钮名称颜色*/
    padding: 8px 15px;   /*内边距*/
    text-align: center;   /*按钮名称居中*/
    text-decoration: none;
    display: inline-block;
    font-size: 16px;   /*使用 font-size 属性来设置按钮大小*/
    border-radius:12px;   /*使用 border-radius 属性来设置圆角按钮*/
}
/*使用 :hover 选择器来修改鼠标悬停在按钮上的样式*/
input:hover {
    color: #255aaf;   /*悬停时按钮名称颜色*/
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);   /*使用 box-shadow 属性来为按钮添加阴影*/
}