*{
    padding: 0;
    margin: 0;
}

#view {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#view table, th, td {
    border: 1px solid black;
}

/*控制边框和表格内容之间的间距，内容居中*/
#view th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/*为了实现斑马纹表格效果，请使用 nth-child() 选择器，并为所有偶数（或奇数）表行添加 background-color*/
#view tr:nth-child(even){background-color: #f2f2f2;}

/*在 <tr> 元素上使用 :hover 选择器，以突出显示鼠标悬停时的表格行*/
#view tr:hover {background-color: #ddd;}

#view tr{
    background-color: #ddd;
    text-align: center;
}
/*指定了 <th> 元素的背景颜色和文本颜色*/
#view th {
    background-color: #3a8dc1;
    color: white;
}
/*按钮位置*/
#but-box{
    position:absolute; top:475px;left: 38%;   /*绝对位置*/
}

input{
    background-color: #60b3e7;   /* 背景色 */
    border: none;
    color: white;   /*按钮名称颜色*/
    padding: 8px 15px;   /*内边距*/
    text-align: center;   /*按钮名称居中*/
    text-decoration: none;
    display: inline-block;
    font-size: 16px;   /*使用 font-size 属性来设置按钮大小*/
    border-radius:12px;   /*使用 border-radius 属性来设置圆角按钮*/
}
/*使用 :hover 选择器来修改鼠标悬停在按钮上的样式*/
input:hover {
    color: #255aaf;   /*悬停时按钮名称颜色*/
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);   /*使用 box-shadow 属性来为按钮添加阴影*/
}
#insert{
    position:absolute; top:475px;left: 82%;   /*绝对位置*/
}




/*viewstudent遮罩层*/
html,body {
    margin:0;
    height:100%;
}
#test {
    width:100%;
    height:100%;
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    opacity:0.3;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    display:none;
}
#log_window {
    width:500px;
    height:400px;
    background-color: #dddddd;
    margin: auto;
    position: absolute;
    z-index:3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
}
.a{
     position: absolute;
     right: 0;
 }
.username1{
    position: relative;
    top: 20px;
    left: 19%;
    margin: auto;
}
.password1{
    position: relative;
    top: 30px;
    left: 22%;
    margin: auto;
}
.realname1{
    position: relative;
    top: 40px;
    left: 16%;
    margin: auto;
}
.sex1{
    position: relative;
    top: 50px;
    left: 22%;
    margin: auto;
}.tclass1{
     position: relative;
     top: 60px;
     left: 22%;
     margin: auto;
 }.grade1{
      position: relative;
      top: 70px;
      left: 22%;
      margin: auto;
  }
.contacts1{
    position: relative;
    top: 80px;
    left: 16%;
    margin: auto;
}
#sub{
    position: relative;
    top: 90px;
    left: 45%;
    margin: auto;
}



/*insertstudent遮罩层*/
#test2 {
    width:100%;
    height:100%;
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    opacity:0.3;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    display:none;
}
#log_window2 {
    width:500px;
    height:450px;
    background-color: #dddddd;
    margin: auto;
    position: absolute;
    z-index:3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
}
.a2{
    position: absolute;
    right: 0;
}
.userid2{
    position: relative;
    top: 30px;
    left: 19%;
    margin: auto;
}
.username2{
    position: relative;
    top: 40px;
    left: 19%;
    margin: auto;
}
.password2{
    position: relative;
    top: 50px;
    left: 22%;
    margin: auto;
}
.realname2{
    position: relative;
    top: 60px;
    left: 16%;
    margin: auto;
}
.sex2{
    position: relative;
    top: 70px;
    left: 22%;
    margin: auto;
}.tclass2{
     position: relative;
     top: 80px;
     left: 22%;
     margin: auto;
 }.grade2{
      position: relative;
      top: 90px;
      left: 22%;
      margin: auto;
  }
.contacts2{
    position: relative;
    top: 100px;
    left: 16%;
    margin: auto;
}
#sub2{
    position: relative;
    top: 110px;
    left: 45%;
    margin: auto;
}
