<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf demo</title>
    <link rel="stylesheet" href="/css/addRoom.css"/>
    <script src="/js/addRoom.js"></script>
</head>
<body>
<div id="Room1">
    <div></div>
    <form th:action="@{addRoom}" method="POST">
        <div class="roomId"><label for="roomId">自习室Id：  </label><input type="text" name="roomId" id="roomId" onblur="check()" required><img id="img1"
                src="" alt=""></div><span id="message" text="信息"></span>
        <div class="roomName"><label for="roomName">自习室名称：</label><input type="text" name="RoomName" id="roomName"></div>
        <div class="roomCapacity"><label for="roomCapacity">自习室容量：</label><input type="text" name="roomCapacity" id="roomCapacity"></div>
        <div class="roomDescribe"><label for="roomDescribe">自习室描述：</label><input type="text" name="roomDescribe" id="roomDescribe"></div>
        <div id="sub"><input type="submit" value="添加"></div>
    </form>
</div>
</div>
</body>
</html>