<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link type="text/css" rel="stylesheet" href="/css/PopupWindow.css"/>
    <style>
        #pass{
            background-color: #60acf0;
            width: 1525px;
            height: 720px;
        }
        .password{
            width:500px;
            height:300px;
            margin-left:270px;
            background-color: #83d1f5;
            text-align: center;
            top: 250px;
            left: 270px;
            position: absolute;
        }
    </style>
</head>
<body>
<div id="pass">
<div class="password">
    <form th:action="@{alterpw}" method="post">
        <br><br>
        <p>账 号 ID：<br><input readonly id="p" name="userid" type="text"  th:value="${session.user.userid}" ></p>
        <p>账 号 名：<br><input readonly id="r" type="text"  th:value="${session.user.username}" name="username" ></p>
        <p>密 码：<br><input id="w" type="text" th:value="${session.user.password}" name="password"></p>
        <button id="open_btn" class="open_btn" type="submit" >提交</button>
    </form>
</div>
</div>
</body>
</html>