<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>当前预约</title>
    <link type="text/css" rel="stylesheet" href="/css/reserved.css"/>
</head>
<body>
    <div class="MyReservate">
        <table id="Reservate" border="1">
            <tr>
                <th>序号</th>
                <th>自习室Id</th>
                <th>座位号</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>操作</th>
            </tr>
            <tr  th:each="currentReservation: ${currentReservation}" >
                <td th:text="${currentReservation.getSequence()}"></td>
                <td th:text="${currentReservation.getRoomId()}"></td>
                <td th:text="${currentReservation.getSeatNumber()}"></td>
                <td th:text="${currentReservation.getStartTime()}"></td>
                <td th:text="${currentReservation.getOverTime()}"></td>
                <td>
                    <a th:href="@{cancelReservation.do(sequence=${currentReservation.sequence})}" onclick="javascript:return cancel()" >取消预约</a>
                </td>
            </tr>
        </table>
        <script>
            function cancel() {
                var msg = "是否要取消预约？";
                if (confirm(msg)==true){
                    return true;
                }else{
                    return false;
                }
            }
        </script>
        <div id="but-box">
            <input type="button" value="首页" id="k">
            <input type="button" value="上一页" id="kk">
            <input type="button" value="下一页" id="kkk">
            <input type="button" value="尾页" id="kkkk">
        </div>
        <script src="https://lib.baomitu.com/jquery/3.6.0/jquery.js"></script>
        <script>
            $(document).ready(function () {
                $("#k").click(function () {
                    window.location.href = "currentReservation.do?firstPage=1"
                })
                $("#kk").click(function () {
                    window.location.href ="currentReservation.do?lastPage=1"
                })
                $("#kkk").click(function () {
                    window.location.href = "currentReservation.do?nextPage=1"
                })
                $("#kkkk").click(function () {
                    window.location.href = "currentReservation.do?finalPage=1"
                })
            })
        </script>
    </div>
</body>
</html>