<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf demo</title>
    <meta charset="UTF-8">
</head>
<body>
<div style="padding-top:100px;height: 100%;width: 100%;text-align: center">
    <span>如果您有任何问题，您可以联系我们</span><br>
    <span>电 话：199-8259-4117</span><br>
    <span>QQ群：791308874</span><br>
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=969569231&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:969569231:53" alt="您如果有任何疑问，请联系我们" title="您如果有任何疑问，请联系我们"/></a>

</div>


<!-- 弹窗内容开始 -->
<div id="background" class="back">


</div>
<!-- 弹窗内容结束 -->
<script src="/js/addManager.js"></script>
</body>
</html>