<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>
</head>
<body>

<p>摸板下载</p>
<a href="/document/download">
    <input id="moban" type='submit' value='下载摸板'></a>
</a>

<p>文件上传</p>
<form action="/document/import" method="POST" enctype="multipart/form-data">
    文件：<input id="wenjian" type="file" name="file"/>
    <input id="tijiao" type="submit"/>
</form>

</body>
</html>