<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>系统登录 - 自习室预约系统</title>
    <link rel="shortcut icon" href="tu.ico"/>
    <!--    <link rel="bookmark" href="tu.ico"/>-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="login_bg">
    <div class="header">
        <img src="/img/loginLogo.png" alt="顶部图标"><br>
    </div>
    <div class="loginContent">
        <section class="loginBox">
            <form class="loginForm" th:action="@{login.do}" method="POST">
                <header class="loginHeader">
                    <h1>自习室预约系统</h1>
                    <p style="color: red" th:text="${message}" th:if="${not #strings.isEmpty(message)}"></p>
                    <div><span id="message" value="" text=""></span></div>
                </header>
                <div class="inputbox">
                    <input type="text" class="input-text" id="username" name="username" required/>
                    <label for="username">用户名或账号</label>
                </div>
                <div class="inputbox">
                    <input type="password" id="password" name="password" required/>
                    <label for="password">密码</label>
                </div>
                <div class="subBtn">
                    <input type="submit" value="登录"/>
                    <input type="reset" value="重置"/>
                </div>
            </form>
        </section>
    </div>
    <section class="footer">
        <div class="foot">
            <div class="footerList">
                <div class="support">
                    <div style="color: #0064e0;font-size:20px;padding-bottom: 10px;">
                        <b>浏览器支持</b></div>
                    <div><img style="position:absolute;" src="/img/loginBook.png">
                        <div style="padding-left: 75px;">
                            <span>1.IE10以上，360极速/安全浏览器&emsp;&emsp;&emsp;</span><br>
                            <span>2.火狐，Google Chrome</span><br>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <div style="color: #0064e0;font-size:20px;padding-bottom: 10px;"><b>联系我们</b></div>
                    <div><img style="position:absolute;" src="/img/loginPhone.png">
                        <div style="padding-left: 75px;">
                            <span>电 话：199-8259-4117</span><br>
                            <span>QQ群：791308874</span><br>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="footerTips" style="margin-top:130px;"><span style="color:red">温馨提示: </span>
                <span style="color: #0064e0;">初始密码为姓名首字母小写+1234。</span>
            </div>
        </div>
        <div class="footerInfo" style="padding-top: 60px">
            <p>©版权所有：蓝桥第七组 地址：广西桂林桂林电子科技大学花江校区第六教学楼</p>
            <p>邮编：541004 QQ：791308874</p>
        </div>
    </section>
</div>
<script>
    window.onload = function (msg) {
        var message = document.getElementById("message");
        xmlHttp = new XMLHttpRequest();//创建request对象
        xmlHttp.onreadystatechange = load();

        function load() {
            console.log("aaa")
            console.log(xmlHttp.responseText)
            // rel = JSON.parse(xmlHttp.responseText);
            console.log(rel)
            if (rel != "null") {
                message.innerText = rel.result
                console.log('id已存在')
            } else {
                message.innerText = '合法id'
                console.log('合法id')
            }

        }
    }
</script>
</body>
</html>