<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>自习室预约系统</title>
        <link rel="shortcut icon" href="tu.ico"/>
        <link type="text/css" rel="stylesheet" href="/css/main.css"/>
        <!--<script src="http://cdn.staticfile.org/jquery/3.6.0/jquery.js"></script>-->
        <script src="/js/showMenu.js"></script>
    </head>
    <body>
        <!--头部-->
        <header class="publicHeader">
            <h1>自习室预约系统</h1>
            <div class="publicHeaderR">
                <p><span>下午好！</span><span style="color: #fff21b" th:text="${session.user.realname}"></span> , 欢迎你！</p>
                <a th:href="@{logout.do}">退出</a>
            </div>
        </header>
        <!--时间-->
        <div class="publicTime">
            <span id="clock"></span>
            <script type="text/javascript">
                var clock = new Clock();
                clock.display(document.getElementById("clock"));
                function Clock() {
                    var date = new Date();
                    this.year = date.getFullYear();
                    this.month = date.getMonth() + 1;
                    this.date = date.getDate();
                    this.day = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六")[date.getDay()];
                    this.hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                    this.minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                    this.second = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
                    this.toString = function() {
                        return this.year + "年" + this.month + "月" + this.date + "日 " + this.hour + ":" + this.minute + ":" + this.second + " " + this.day;
                    };
                    this.toSimpleDate = function() {
                        return this.year + "-" + this.month + "-" + this.date;
                    };
                    this.toDetailDate = function() {
                        return this.year + "-" + this.month + "-" + this.date + " " + this.hour + ":" + this.minute + ":" + this.second;
                    };
                    this.display = function(ele) {
                        var clock = new Clock();
                        ele.innerHTML = clock.toString();
                        window.setTimeout(function() {clock.display(ele);}, 1000);
                    };
                }
            </script>
            <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
        </div>
        <!--主体内容-->
        <section class="publicMian ">
            <div class="left">
                <h2 class="leftH2"><span class="span1"></span>功能列表<span></span></h2>
                <div id="leftTree">
                    <ul class="nav">
                        <li th:each="tree:${session.userTreeList}" th:if="${not #lists.isEmpty(tree.getChildTrees())}">
                            <a href="#" onclick="showMenu(this);return false;" th:text="${tree.title}"><img th:src="@{/img/open.png}" alt="kkk"></a>
                            <ul>
                                <li th:each="child:${tree.getChildTrees()}">
                                    <a target="right" th:href="@{'../'+${child.url}}" th:text="${child.title}"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <iframe src="" scrolling="no" width="100%" height="100%" name="right"></iframe>
            </div>
        </section>
    </body>
    <footer class="footer">
        自习室预约系统
    </footer>
</html>