<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>通知</title>
    <link rel="stylesheet" href="/css/addManager.css">
</head>
<body>
<section class="tableBox">
    <button id="open_btn" class="btn" th:if="${session.user.roleList.get(0)} ne 'r1000'">发布通知</button>
    <button id="open_btn" class="btn" th:if="${session.user.roleList.get(0)} ne 'r1000'">定时发送</button>
</section>
<div>
    <div>
        故障通告
        <ul class="nav">
            <li th:each="notice:${noticeList}">
                <a href="#" onclick="showMenu(this);return false;" th:text="${notice.getTime()}+${notice.getContent()}"></a>
            </li>
        </ul>
    </div>

    <div id="leftTree" >校内通知
    <div>

    </div>
</div>
</div>
<div id="background" class="back">
    <div id="formBox" class="content">
        <div id="close">
            <span id="close-button">×</span>
            <h2>发布通知</h2>
        </div>
        <div id="formContent">
            <div><span id="message" value="" text="信息"></span></div>
            <form th:action="@{insertNotice.do}" method="post">
                <p>
                    通知内容
                    <textarea name="content" id="content" placeholder="请填写内容" cols="50" rows="10"></textarea>
                </p>
                <input type="submit" value="提交">
            </form>
        </div>
        <h3 id="foot">底部内容</h3>
    </div>
</div>
<script src="/js/notice.js"></script>
</body>
</html>