<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>-->
    <link type="text/css" rel="stylesheet" href="/css/reservingReal.css">
    <script src="/js/reservingReal.js"></script>
</head>
<body>
<span th:each="seatNumber:${#numbers.sequence(1,roomCapacity)}"><!--根据自习室容量循环显示座位信息-->
        <span class="seatnumber" th:switch="${#arrays.contains(allSeatNumber,seatNumber)}"><!--条件判断座位是否被预约，已预约为红色，未预约为绿色-->
            <!--点击事件作用于图片，点击弹出窗口显示该座位当天所有预约信息-->
            <a th:case="false" href="#" th:onclick="shield([[${reservingDate}]],[[${roomId}]],[[${seatNumber}]])">
                <img th:src="@{/img/yes.png}" th:title="${seatNumber}+'号座位'"></a>
            <a th:case="true" href="#" th:onclick="shield([[${reservingDate}]],[[${roomId}]],[[${seatNumber}]])">
                <img th:src="@{/img/no.png}" th:title="${seatNumber}+'号座位'"></a>
            <div th:text="${seatNumber+'号座位'}"></div>
        </span>
        <div id="test"></div><!--用于锁定全局，只能处理遮罩层信息-->
        <div id="log_window"><!--弹窗(遮罩层)显示内容-->
            <a href="#" onclick="cancel_shield()">❌</a>
            <div id="head1">该座位今日预约信息</div>
            <div class="reservedTable" id="items" th:fragment="reservedTable">
                <table border="1" id="reservedTable1">
                    <tr>
                    <th>自习室Id</th>
                    <th>座位号</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    </tr>
                    <tr th:each="AllReserved : ${AllReserved}">
                        <td th:text="${AllReserved.getRoomId()}"></td>
                        <td th:text="${AllReserved.getSeatNumber()}"></td>
                        <td th:text="${AllReserved.getStartTime()}"></td>
                        <td th:text="${AllReserved.getOverTime()}"></td>
                    </tr>
                </table>
            </div>
            <div>
                <form id="form">
                    <div id="k1"><label>日期</label><input id="reservingDate" type="text" name="reservingDate"
                                                 th:value="${reservingDate}"
                                                 th:placeholder="${reservingDate}"></div>
                    <div id="k2"><label>自习室id:</label><input id="roomId" type="text" name="roomId" th:value="${roomId}"
                                                     th:placeholder="${roomId}"></div>
                    <div id="k3"><label>座位号:</label><input id="seatNum" type="text" name="seatNumber"></div>
                    <div id="k4"><label>预约开始时间:</label><input id="startTime" type="time" name="startTime" value=""
                                                      placeholder=""
                                                      th:onblur="displayImgOne([[${reservingDate}]],[[${roomId}]])"><img
                            id="displayImg1" src=""></div>
                    <div id="k5"><label>预约结束时间:</label><input id="overTime" type="time" name="overTime" value="" placeholder=""
                                                      th:onblur="displayImgTwo([[${reservingDate}]],[[${roomId}]])"><img
                            id="displayImg2" src=""></div>
                    <div id="k6"><input id="res" type="button" value="申请预约" onclick="conservation()"></div>
                    <div id="k7"><span id="message" value="" text=""></span></div>
                </form>
            </div>
        </div>
    </span>
</body>
</html>