<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="/css/updateRoom.css">
    <script src="/js/reservingReal.js"></script>
</head>
<body>
    <table id="updateRoom">
    <form th:action="@{updateRoom}" method="post">
        <input hidden type="text" name="roomId" th:value="${room.roomId}">
        <input type="text" name="RoomName" th:value="${room.roomName}">
        <input type="text" name="roomCapacity" th:value="${room.roomCapacity}">
        <input type="text" name="roomDescribe" th:value="${room.roomDescribe}">
        <input type="submit" value="保存">
    </form>
    </table>
</body>
</html>