<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>查看用户</title>
    <link type="text/css" rel="stylesheet" href="/css/reserved.css"/>
</head>
<body>
<div class="MyReservate">
    <table id="Reservate" border="1">
        <tr>
            <th>用户ID</th>
            <th>用户名称</th>
            <th>密码</th>
            <th>真实名称</th>
            <th>性别</th>
            <th>所在班级</th>
            <th>所在年级</th>
            <th>电话</th>
            <th>操作</th>
        </tr>
        <tr  th:each="viewUser: ${viewUser}" >
            <td th:text="${viewUser.getUserId()}"></td>
            <td th:text="${viewUser.getUsername()}"></td>
            <td th:text="${viewUser.getPassword()}"></td>
            <td th:text="${viewUser.getRealName()}"></td>
            <td th:text="${viewUser.getSex()}"></td>
            <td th:text="${viewUser.getTclass()}"></td>
            <td th:text="${viewUser.getGrade()}"></td>
            <td th:text="${viewUser.getContacts()}"></td>
            <td>
                <a th:href="@{deleteUser.do(userId=${viewUser.userId})}" onclick="javascript:return del()" >删除用户</a>
            </td>
        </tr>
    </table>
    <script>
        function del() {
            var msg = "是否要删除该用户？";
            if (confirm(msg)==true){
                return true;
            }else{
                return false;
            }
        }
    </script>
    <div id="but-box">
        <input type="button" value="首页" id="k">
        <input type="button" value="上一页" id="kk">
        <input type="button" value="下一页" id="kkk">
        <input type="button" value="尾页" id="kkkk">
    </div>
    <script src="https://lib.baomitu.com/jquery/3.6.0/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $("#k").click(function () {
                window.location.href = "currentReservation.do?firstPage=1"
            })
            $("#kk").click(function () {
                window.location.href ="currentReservation.do?lastPage=1"
            })
            $("#kkk").click(function () {
                window.location.href = "currentReservation.do?nextPage=1"
            })
            $("#kkkk").click(function () {
                window.location.href = "currentReservation.do?finalPage=1"
            })
        })
    </script>
</div>
</body>
</html>