<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>查看用户</title>
    <link type="text/css" rel="stylesheet" href="/css/seven.css"/>
    <style>
        .search {
            position: absolute;
            top: 475px;
            left: 0; /*绝对位置*/
        }
    </style>
</head>
<body>
<div class="seven">
    <table id="seven" >
        <tr>
            <th>用户ID</th>
            <th>用户名称</th>
            <th>密码</th>
            <th>真实名称</th>
            <th>性别</th>
            <th>所在班级</th>
            <th>所在年级</th>
            <th>电话</th>
            <th>操作</th>
        </tr>
        <tr th:each="viewUser: ${viewUser}">
            <td th:text="${viewUser.getUserid()}"></td>
            <td th:text="${viewUser.getUsername()}"></td>
            <td th:text="${viewUser.getPassword()}"></td>
            <td th:text="${viewUser.getRealname()}"></td>
            <td th:text="${viewUser.getSex()}"></td>
            <td th:text="${viewUser.getTclass()}"></td>
            <td th:text="${viewUser.getGrade()}"></td>
            <td th:text="${viewUser.getContacts()}"></td>
            <td><a style="color:red" th:href="@{insertManagerById.do(userId=${viewUser.userid})}" onclick="javascript:return del()">授予管理员权限</a></td>
        </tr>
    </table>
    <div id="but-box">
        <input type="button" value="首页" id="k1">
        <input type="button" value="上一页" id="k2">
        <input type="button" value="下一页" id="k3">
        <input type="button" value="尾页" id="k4">
    </div>
    <form action="/manage/searchUser.do">
        <div class="search">
            <input id="userId" name="txt" type="text" th:value="${text}" placeholder="请输入账号、ID或姓名">
            <input id="sub" type="submit" value="搜索">
            <div hidden><input id="lll" th:value="${flag}"></div>
        </div>
    </form>
    <script src="https://lib.baomitu.com/jquery/3.6.0/jquery.js"></script>
    <script>

        function del() {
            var msg = "是否给该用户授予管理员权限？";
            if (confirm(msg) == true) {
                return true;
            } else {
                return false;
            }
        }

        $(document).ready(function () {
            var text = document.getElementById("userId").value;
            var val = document.getElementById("lll").value;
            if (val == 0) {
                $("#k1").click(function () {
                    window.location.href = "viewUser.do?firstPage=1"
                })
                $("#k2").click(function () {
                    window.location.href = "viewUser.do?lastPage=1"
                })
                $("#k3").click(function () {
                    window.location.href = "viewUser.do?nextPage=1"
                })
                $("#k4").click(function () {
                    window.location.href = "viewUser.do?finalPage=1"
                })
            } else if (val == 1) {
                $("#k1").click(function () {
                    window.location.href = "searchUser.do?firstPage=1&txt=" + text
                })
                $("#k2").click(function () {
                    window.location.href = "searchUser.do?lastPage=1&txt=" + text
                })
                $("#k3").click(function () {
                    window.location.href = "searchUser.do?nextPage=1&txt=" + text
                })
                $("#k4").click(function () {
                    window.location.href = "searchUser.do?finalPage=1&txt=" + text
                })
            }
        })
    </script>
</div>
</body>
</html>