<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf demo</title>
</head>
<body>
<table border="1">
    <tr>
        <th>房间ID</th>
        <th>房间名</th>
        <th>房间容量</th>
        <th>房间描述</th>
        <th>操作</th>
    </tr>
    <tr  th:each="room,roomStat : ${rooms}" >
        <td th:text="${room.roomId}"></td>
        <td th:text="${room.roomName}"></td>
        <td th:text="${room.roomCapacity}"></td>
        <td th:text="${room.roomDescribe}"></td>
        <td>
            <a th:href="@{deleteRoom(roomId=${room.roomId})}">删除自习室</a>
        </td>
        <td>
            <a th:href="@{insertRoom.do}">添加自习室</a>
        </td>
        <td>
            <a th:href="@{getRoomById(roomId=${room.roomId})}">修改自习室</a>
        </td>
    </tr>
</table>
</body>
</html>