<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.RoomMapper">

    <select id="viewRoom"  resultType="room" parameterType="int">
		SELECT * FROM tb_study_room limit #{startRow},#{pageSize}
	</select>
    <delete id="deleteRoom" parameterType="string">
		DELETE FROM tb_study_room WHERE roomId=#{value }
	</delete>
	<insert id="addRoom" parameterType="com.example.springboot.bean.Room">
		insert into tb_study_room (roomId,roomName,roomCapacity,roomDescribe
		)
		value (#{roomId},#{roomName},#{roomCapacity},#{roomDescribe})
	</insert>
	<select id="getRoomById"  parameterType="String" resultType="room">
		SELECT * FROM tb_study_room WHERE roomid=#{roomId}
	</select>
	<update id="updateRoom" parameterType="room">
		update tb_study_room
		set
		roomName=#{roomName},roomCapacity=#{roomCapacity},roomDescribe=#{roomDescribe} WHERE roomId=#{roomId}
	</update>
	<select id="total" parameterType="int" resultType="int">
		SELECT (count(*) + #{pageSize} - 1) / #{pageSize} FROM tb_study_room
	</select>

	<select id="getAllRoom" resultType="room">
		SELECT * FROM tb_study_room
	</select>

	<insert id="insertRepairInfo" parameterType="string">
		INSERT INTO tb_repair VALUE (#{id},#{roomName},#{time},#{types},#{userId},#{description})
	</insert>

</mapper>