<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.StudentMapper">


    <select id="viewStudent" resultType="user">
        select * from tb_user
    </select>
    <delete id="deleteStudent" parameterType="string">
        DELETE FROM tb_user WHERE userid=#{value}
    </delete>
    <insert id="insertStudent" parameterType="user">
        INSERT INTO tb_user (userid,username,password,realname,sex,tclass,grade,contacts,state) VALUES (#{userid},#{username},#{password},#{realname},#{sex},#{tclass},#{grade},#{contacts},#{state});
        INSERT INTO tb_user_role values(#{userid},'r1000')
    </insert>
    <select id="getStudentbyId"  parameterType="String" resultType="user">
		SELECT * FROM tb_user WHERE userid=#{userid}
	</select>
    <update id="updateStudent" parameterType="user">
        UPDATE tb_user SET username=#{username},password=#{password},realname=#{realname},sex=#{sex},tclass=#{tclass},grade=#{grade},contacts=#{contacts} WHERE userid=#{userid}
    </update>
</mapper>
