<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.UserMapper">
    <select id="viewUser" resultType="user">
        SELECT * FROM tb_user
    </select>
    <select id="login" resultType="user" parameterType="string">
        SELECT * FROM tb_user WHERE username=#{username} AND password=#{password}
    </select>
    <delete id="deleteUser" parameterType="string">
		DELETE FROM tb_user WHERE userId=#{value}
	</delete>
    <resultMap id="userMap" type="user">
        <id property="userid" column="userid"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="realname" column="realname"></result>
        <result property="sex" column="sex"></result>
        <result property="tclass" column="tclass"></result>
        <result property="grade" column="grade"></result>
        <result property="contacts" column="contacts"></result>
        <result property="state" column="state"></result>
        <collection property="roleList" column="userid" select="com.example.springboot.mapper.RoleMapper.getRoleByUserId">
        </collection>
    </resultMap>
    <select id="getUserById" resultMap="userMap" parameterType="string">
		SELECT * FROM tb_user WHERE userid=#{value}
	</select>
    <insert id="insertManagerById" parameterType="string">
        INSERT INTO tb_user_role VALUE (#{userId},'r1001')
    </insert>
    <!--更改用户信息-->
    <update id="update"  parameterType="user">
        update tb_user set username=#{username} ,realName=#{realname} ,sex=#{sex} ,tclass=#{tclass} ,grade=#{grade} ,contacts=#{contacts} ,state=#{state} where userid=#{userid}
    </update>
    <!--修改当前账号密码 -->
    <update id="alterpw" parameterType="user">
        update tb_user set userid=#{userid}, password=#{password} , username=#{username} where userid=#{userid}
    </update>
</mapper>